body{
	margin: 0px;
	padding: 0px;
}


.header{ 
	background: linear-gradient(to right, #696F70, #383C3C);
	height: 80px;
	width: 100%;
	margin-top: -19px;		
}

h1{
	padding: 20px;
	font-family: "arial";
	color: white;
	margin-left: 10px;
	margin-top: 19px;
}

.gambar img{
	height: 30px;
	margin-top: -80px;
	float: right;
	margin-right: 50px;
}

.gambar img:hover{
	cursor: pointer;
}

.gambar2 img{
	height: 30px;
	margin-top: -80px;
	float: right;
	margin-right: 100px;
}

.gambar2 img:hover{
	cursor: pointer;
}

h4{
	margin-top: 20px;
	margin-left: 2px;
	color: white;
	font-family: "arial";
	font-size: 15px;
}

.conten ul {
	list-style-type: none;
	margin-top: -12px;
	padding: 5px;
	padding right: -10px;

	
}

.conten ul li{
	margin-right: 23px;
	font-size: 20px;
	font-family: "arial";
	margin-top: 30px;

}

.conten a{
	text-decoration: none;
	color: #fff;
	padding: 20px;
}

.conten a:hover{
	background-color: #06132B;
	color: white;
	border-radius: 3px;

}

.kiri{
	background: linear-gradient(to top, #0C2454, #06132B);
	height: 721%;
	width: 200px;
	margin-top: -245px;
	
	
}

.box{
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	border-radius: 10px;
	margin-left: 220px;
	margin-top: 20px;
	height: 550px;
	width: 700px;

}

.box h4{
	font-family: "arial";
	font-weight: bold;
	font-size: 17px;
	margin-left: 33px;
	color: black;
}

.box p{
	font-family: "arial";
	font-size: 14px;
	margin-left: 35px;
}


.box h2{
	margin-top: 10px;
}

.box .tabel {
	font-family: sans-serif;
	color: #444;
	border-collapse: collapse;
	width: 30%;
	border:1px solid #f2f5f7;
	margin-top: 10px;
}

.boxes{
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	border-style: dashed;
	border-width: 2px;
	border-color: gray;
	border-radius: 15px;
	margin-left: 11px;
	margin-top: 5px;
	height: 300px;
	width: 675px;
	display: inline-block;
}

.boxes p{
	font-family: "arial";
	font-weight: bold;
	font-size: 13px;
	margin-left: 22px;
	margin-top: 16px;
}

.boxes button{
	border: none;
	outline: none;
	height: 30px;
	width: 100px;
	margin-top: 200px;
	color: white;
	font-size: 16px;
	border-radius: 15px;
	background-color: #556080;
	cursor: pointer;
}
.boxes input{	
	margin-top: 10px;
	margin-left: 20px;
}

.File p{
	font-family: "arial";
	font-size: 12px;

}

.Square{
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	border-radius: 15px;
	margin-left: 940px;
	margin-top: -555px;
	height: 130px;
	width: 300px;
}

.Square p{
	font-family: "arial";
	font-weight: bold;
	font-size: 14px;
	margin-left: 25px;
	margin-top: 7px;   
}

.Tugas p{
	font-family: "arial";
	font-size: 12px;
}
.Persegi{
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: blue;
	border-radius: 15px;
	margin-left: 940px;
	margin-top: 18px;
	height: 246px;
	width: 300px;
}

.Persegi p{
	font-family: "arial";
	font-weight: bold;
	font-size: 14px;
	margin-left: 25px;
	margin-top: 7px;   
}

.Pengguna{
	margin-left: 25px;
	font-size: 13px;
	font-family: "arial";

}

